.book-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid lightgray;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    min-width: 300px;
}
.book-item-header{
    text-align: center;

}
.book-item-header-title{

}
.book-item-header-author{

}
.book-item-header-rating{

}
.book-item-image{
    width: 100px;
    height: 200px;
}