.books-results{
    display: flex;
    flex-wrap: wrap;
}
.books-searchbar{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 0 15px;
    line-height: 14px;
}
input[type=search]{
    padding: 5px;
}