.footer-list{
    list-style-type: none;
}
.footer-main{
    padding: 30px;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.footer-list li{
    padding: 5px;
    font-size: 22px;
    font-family: 'Lora', serif;

}
.footer-logo{
    width: 150px;
    height: 120px;
}
.footer-rigth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    margin-left: 6px;
}
@media(max-width:990px){
    .footer-rigth{
        display: none;
    }
}